
{{ content }}

{% comment %} Check the type of archive {% endcomment %}
{%- if page.type == 'categories' -%}
  {%- assign taxonomies = site.categories -%}
{%- elsif page.type == 'tags' -%}
  {%- assign taxonomies = site.tags -%}
{%- else -%}
  {%- assign taxonomies = none -%}
{%- endif -%}

{% comment %} Calculate the max count of taxonomies {% endcomment %}
{%- assign max_count = 0 -%}
{%- for taxonomy in taxonomies -%}
  {%- assign posts = taxonomy[1] -%}
  {%- if posts.size > max_count -%}
    {%- assign max_count = posts.size -%}
  {%- endif -%}
{%- endfor -%}

{% if site.avatar -%}
  <div class="sidebar-section">
    {%- if site.avatar contains "://" -%}
      {%- assign avatar = site.avatar -%}
    {%- else -%}
      {%- assign avatar = site.avatar | relative_url -%}
    {%- endif -%}
    <img src="{{ avatar }}" class="author-avatar u-photo align-center" alt="{{ site.author }}">
  </div>
{%- endif %}

<div class="sidebar-section">
  <ul class="contact-list">
    {% if site.author -%}
      <li>
        <i class="sidebar-icon fas fa-at"></i>
        <span class="contact-info p-name">{{ site.author | escape }}</span>
      </li>
    {%- endif %}
    {% if site.email -%}
      <li>
        <i class="sidebar-icon fas fa-envelope"></i>
        <a class="contact-info u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
      </li>
    {%- endif %}
    {% if site.location -%}
      <li>
        <i class="sidebar-icon fas fa-location-arrow"></i>
        <a class="contact-info u-location" href="https://www.google.com/maps/search/{{ site.location }}">{{ site.location }}</a>
      </li>
    {%- endif %}
  </ul>
</div>
<div class="sidebar-section tag-list">
  <ul class="taxonomies">
    {%- for i in (1..max_count) reversed -%}
      {%- for taxonomy in taxonomies -%}
        {%- assign taxonomy_name = taxonomy[0] -%}
        {%- assign slugified_taxonomy_name = taxonomy_name | slugify -%}
        {%- assign posts = taxonomy[1] -%}
        {%- if posts.size == i -%}
          <li>
            {%- capture link -%}{{ page.permalink }}#{{ slugified_taxonomy_name }}{%- endcapture -%}
            <a class="taxonomy" href="{{ link | relative_url }}">
              <span>
                {%- if page.type == 'tags' -%}
                  {{ slugified_taxonomy_name }}
                {%- else -%}
                  {{ taxonomy_name }}
                {%- endif -%}
              </span>
              <span class="taxonomy-count">{{ posts.size }}</span>
            </a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    {%- endfor -%}
  </ul>

  <ul class="contact-list">
    {% if site.author -%}
      <li>
        <!-- <span class="contact-info p-name">{{ site.tag_dir | escape }}</span> -->
        <span class="contact-info p-name">메뉴 목록</span>
      </li>
    {%- endif %}
    {% if site.tag_dir -%}
      <li>
        <a class="contact-info p-name" href="https://dev-jeenie.github.io/tags/">카테고리 전체보기</a>
      </li>
    {%- endif %}
    {% if site.tag_dir -%}
      <li>
        <a class="contact-info p-name" href="https://dev-jeenie.github.io/tags/#cs">배경지식 (CS)</a>
        <span class="taxonomy-count">{{ posts.size }}</span>
      </li>
    {%- endif %}
    {% if site.tag_dir -%}
      <li>
        <a class="contact-info p-name" href="https://dev-jeenie.github.io/tags/#js1">Java Script</a>
      </li>
    {%- endif %}
    {% if site.tag_dir -%}
      <li>
        <a class="contact-info p-name" href="https://dev-jeenie.github.io/tags/#es6">ES6</a>
      </li>
    {%- endif %}
    {% if site.tag_dir -%}
    <li>
      <a class="contact-info p-name" href="https://dev-jeenie.github.io/tags/#es62">ES6 심화</a>
    </li>
    {%- endif %}
    {% if site.tag_dir -%}
      <li>
        <a class="contact-info p-name" href="https://dev-jeenie.github.io/tags/#react">React</a>
      </li>
    {%- endif %}

  </ul>
</div>

{% if site.subscribe != false -%}
<!-- <div class="sidebar-section feed-subscribe">
  <a href="{{ 'feed.xml' | relative_url }}">
    <i class="sidebar-icon fas fa-rss"></i><span>Subscribe</span>
  </a>
</div> -->
{%- endif %}

{% if site.data.social -%}
  <div class="sidebar-section">
    <ul class="social-icons">
      {% for social in site.data.social -%}
        <li>
          <a class="social-icon" href="{{ social.url }}"><i class="{{ social.icon | default: 'fas fa-link' }} fa-2x" title="{{ social.title }}"></i></a>
        </li>
      {%- endfor %}
    </ul>
  </div>
{%- endif %}
